# *Дополнительные задания:
1). Загрузите датасет Wine из встроенных датасетов sklearn.datasets с помощью функции load_wine в переменную data.

2). Полученный датасет не является датафреймом. Это структура данных, имеющая ключи аналогично словарю. Просмотрите тип данных этой структуры данных и создайте список data_keys, содержащий ее ключи.

3). Просмотрите данные, описание и названия признаков в датасете. Описание нужно вывести в виде привычного, аккуратно оформленного текста, без обозначений переноса строки, но с самими переносами и т.д.4). Сколько классов содержит целевая переменная датасета? Выведите названия классов.

5). На основе данных датасета (они содержатся в двумерном массиве Numpy) и названий признаков создайте датафрейм под названием X.

6). Выясните размер датафрейма X и установите, имеются ли в нем пропущенные значения.

7). Добавьте в датафрейм поле с классами вин в виде чисел, имеющих тип данных numpy.int64. Название поля - 'target'.

8). Постройте матрицу корреляций для всех полей X. Дайте полученному датафрейму название X_corr.

9). Создайте список high_corr из признаков, корреляция которых с полем target по абсолютному значению превышает 0.5 (причем, само поле target не должно входить в этот список).

10). Удалите из датафрейма X поле с целевой переменной. Для всех признаков, названия которых содержатся в списке high_corr, вычислите квадрат их значений и добавьте в датафрейм X соответствующие поля с суффиксом '_2', добавленного к первоначальному названию признака. Итоговый датафрейм должен содержать все поля, которые, были в нем изначально, а также поля с признаками из списка high_corr, возведенными в квадрат. Выведите описание полей датафрейма X с помощью метода describe.

In [70]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_wine
data = load_wine()

In [71]:
type(data)

sklearn.utils.Bunch

In [72]:
data_keys = list(data.keys())
data_keys

['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names']

In [73]:
print(data.DESCR)

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

In [74]:
# целевая переменная датасета содержит 3 класса
print(data.target_names)

['class_0' 'class_1' 'class_2']

In [75]:
# 5). На основе данных датасета (они содержатся в двумерном массиве Numpy) и названий признаков создайте датафрейм под названием X.
# 6). Выясните размер датафрейма X и установите, имеются ли в нем пропущенные значения.
X = pd.DataFrame(data.data)
X.shape

(178, 13)

In [76]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       178 non-null    float64
 1   1       178 non-null    float64
 2   2       178 non-null    float64
 3   3       178 non-null    float64
 4   4       178 non-null    float64
 5   5       178 non-null    float64
 6   6       178 non-null    float64
 7   7       178 non-null    float64
 8   8       178 non-null    float64
 9   9       178 non-null    float64
 10  10      178 non-null    float64
 11  11      178 non-null    float64
 12  12      178 non-null    float64
dtypes: float64(13)
memory usage: 18.2 KB

In [77]:
# 7). Добавьте в датафрейм поле с классами вин в виде чисел, имеющих тип данных numpy.int64. Название поля - 'target'.
X['target'] = list(data.target.astype(np.int64))
X['target']

0      0
1      0
2      0
3      0
4      0
      ..
173    2
174    2
175    2
176    2
177    2
Name: target, Length: 178, dtype: int64

In [78]:
# 8). Постройте матрицу корреляций для всех полей X. Дайте полученному датафрейму название X_corr.
X_corr = X.corr()
X_corr

               0         1         2         3         4  ...         9        10        11        12    target
0       1.000000  0.094397  0.211545 -0.310235  0.270798  ...  0.546364 -0.071747  0.072343  0.643720 -0.328222
1       0.094397  1.000000  0.164045  0.288500 -0.054575  ...  0.248985 -0.561296 -0.368710 -0.192011  0.437776
2       0.211545  0.164045  1.000000  0.443367  0.286587  ...  0.258887 -0.074667  0.003911  0.223626 -0.049643
3      -0.310235  0.288500  0.443367  1.000000 -0.083333  ...  0.018732 -0.273955 -0.276769 -0.440597  0.517859
4       0.270798 -0.054575  0.286587 -0.083333  1.000000  ...  0.199950  0.055398  0.066004  0.393351 -0.209179
5       0.289101 -0.335167  0.128980 -0.321113  0.214401  ... -0.055136  0.433681  0.699949  0.498115 -0.719163
6       0.236815 -0.411007  0.115077 -0.351370  0.195784  ... -0.172379  0.543479  0.787194  0.494193 -0.847498
7      -0.155929  0.292977  0.186230  0.361922 -0.256294  ...  0.139057 -0.262640 -0.503270 -0.311385  0.489109
8       0.136698 -0.220746  0.009652 -0.197327  0.236441  ... -0.025250  0.295544  0.519067  0.330417 -0.499130
9       0.546364  0.248985  0.258887  0.018732  0.199950  ...  1.000000 -0.521813 -0.428815  0.316100  0.265668
10     -0.071747 -0.561296 -0.074667 -0.273955  0.055398  ... -0.521813  1.000000  0.565468  0.236183 -0.617369
11      0.072343 -0.368710  0.003911 -0.276769  0.066004  ... -0.428815  0.565468  1.000000  0.312761 -0.788230
12      0.643720 -0.192011  0.223626 -0.440597  0.393351  ...  0.316100  0.236183  0.312761  1.000000 -0.633717
target -0.328222  0.437776 -0.049643  0.517859 -0.209179  ...  0.265668 -0.617369 -0.788230 -0.633717  1.000000

[14 rows x 14 columns]

In [79]:
# 9). Создайте список high_corr из признаков, корреляция которых с полем target по абсолютному значению превышает 0.5
#(причем, само поле target не должно входить в этот список).
high_corr = X_corr['target']
high_corr = list(high_corr[(abs(high_corr) > 0.5) & (high_corr < 1)].index)
high_corr

[3, 5, 6, 10, 11, 12]

In [80]:
#10). Удалите из датафрейма X поле с целевой переменной. Для всех признаков, названия которых содержатся
#в списке high_corr, вычислите квадрат их значений и добавьте в датафрейм X соответствующие поля с суффиксом '_2',
# добавленного к первоначальному названию признака. Итоговый датафрейм должен содержать все поля, которые, были 
# в нем изначально, а также поля с признаками из списка high_corr, возведенными в квадрат. 
# Выведите описание полей датафрейма X с помощью метода describe.
X.drop('target' , axis=1, inplace=True)

In [81]:
for i in high_corr:
  X[str(i)+'_2'] = X[i]**2
X

         0     1     2     3      4     5     6  ...      12     3_2      5_2      6_2    10_2     11_2       12_2
0    14.23  1.71  2.43  15.6  127.0  2.80  3.06  ...  1065.0  243.36   7.8400   9.3636  1.0816  15.3664  1134225.0
1    13.20  1.78  2.14  11.2  100.0  2.65  2.76  ...  1050.0  125.44   7.0225   7.6176  1.1025  11.5600  1102500.0
2    13.16  2.36  2.67  18.6  101.0  2.80  3.24  ...  1185.0  345.96   7.8400  10.4976  1.0609  10.0489  1404225.0
3    14.37  1.95  2.50  16.8  113.0  3.85  3.49  ...  1480.0  282.24  14.8225  12.1801  0.7396  11.9025  2190400.0
4    13.24  2.59  2.87  21.0  118.0  2.80  2.69  ...   735.0  441.00   7.8400   7.2361  1.0816   8.5849   540225.0
..     ...   ...   ...   ...    ...   ...   ...  ...     ...     ...      ...      ...     ...      ...        ...
173  13.71  5.65  2.45  20.5   95.0  1.68  0.61  ...   740.0  420.25   2.8224   0.3721  0.4096   3.0276   547600.0
174  13.40  3.91  2.48  23.0  102.0  1.80  0.75  ...   750.0  529.00   3.2400   0.5625  0.4900   2.4336   562500.0
175  13.27  4.28  2.26  20.0  120.0  1.59  0.69  ...   835.0  400.00   2.5281   0.4761  0.3481   2.4336   697225.0
176  13.17  2.59  2.37  20.0  120.0  1.65  0.68  ...   840.0  400.00   2.7225   0.4624  0.3600   2.6244   705600.0
177  14.13  4.10  2.74  24.5   96.0  2.05  0.76  ...   560.0  600.25   4.2025   0.5776  0.3721   2.5600   313600.0

[178 rows x 19 columns]

In [82]:
X.describe()

                0           1           2           3  ...         6_2        10_2        11_2          12_2
count  178.000000  178.000000  178.000000  178.000000  ...  178.000000  178.000000  178.000000  1.780000e+02
mean    13.000618    2.336348    2.366517   19.494944  ...    5.110049    0.968661    7.322155  6.564591e+05
std      0.811827    1.117146    0.274344    3.339564  ...    4.211441    0.443798    3.584316  5.558591e+05
min     11.030000    0.740000    1.360000   10.600000  ...    0.115600    0.230400    1.612900  7.728400e+04
25%     12.362500    1.602500    2.210000   17.200000  ...    1.452100    0.612325    3.754075  2.505010e+05
50%     13.050000    1.865000    2.360000   19.500000  ...    4.558250    0.931250    7.728400  4.536045e+05
75%     13.677500    3.082500    2.557500   21.500000  ...    8.265700    1.254400   10.048900  9.702250e+05
max     14.830000    5.800000    3.230000   30.000000  ...   25.806400    2.924100   16.000000  2.822400e+06

[8 rows x 19 columns]